/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, devAssets/sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, devAssets/sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

/* line 31, devAssets/sass/partials/_reset.scss */
body {
  line-height: 1; }

/* line 34, devAssets/sass/partials/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, devAssets/sass/partials/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, devAssets/sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, devAssets/sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "HKGrotesk-Regular";
  src: url("../../fonts/HKGrotesk-Regular.eot?") format("eot"), url("../../fonts/HKGrotesk-Regular.woff") format("woff"), url("../../fonts/HKGrotesk-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../../fonts/HKGrotesk-Medium.eot?") format("eot"), url("../../fonts/HKGrotesk-Medium.woff") format("woff"), url("../../fonts/HKGrotesk-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../../fonts/HKGrotesk-Bold.eot?") format("eot"), url("../../fonts/HKGrotesk-Bold.woff") format("woff"), url("../../fonts/HKGrotesk-Bold.ttf") format("truetype"); }

/* line 68, devAssets/sass/partials/_typography.scss */
* {
  font-style: normal;
  font-weight: normal; }

/* line 79, devAssets/sass/partials/_typography.scss */
body {
  font-family: 'HKGrotesk-Regular';
  font-size: 16px;
  line-height: 1.3; }

/* line 85, devAssets/sass/partials/_typography.scss */
em, i {
  font-style: italic; }

/* line 89, devAssets/sass/partials/_typography.scss */
strong, b {
  font-family: 'HKGrotesk-Bold'; }

/* line 29, devAssets/sass/partials/_deviceTester.scss */
#mobileTester {
  display: none;
  visibility: hidden; }

/* line 34, devAssets/sass/partials/_deviceTester.scss */
#tabletTester {
  display: none;
  visibility: hidden; }

@media screen and (max-device-width: 650px) {
  /* line 44, devAssets/sass/partials/_deviceTester.scss */
  html.touchevents #mobileTester {
    display: none;
    visibility: visible; } }

@media screen and (min-device-width: 651px) and (max-device-width: 1440px) {
  /* line 55, devAssets/sass/partials/_deviceTester.scss */
  html.touchevents #tabletTester {
    display: none;
    visibility: visible; } }

/* line 65, devAssets/sass/partials/_deviceTester.scss */
#legacy-warning {
  display: none;
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -300px;
  font-size: 22px;
  color: black; }
  /* line 76, devAssets/sass/partials/_deviceTester.scss */
  #legacy-warning ul {
    width: 100%;
    text-align: center; }
  /* line 81, devAssets/sass/partials/_deviceTester.scss */
  #legacy-warning li {
    display: block;
    display: inline-block;
    *zoom: 1;
    margin: 20px 20px; }
    /* line 87, devAssets/sass/partials/_deviceTester.scss */
    #legacy-warning li a:hover {
      text-decoration: underline; }

/* line 98, devAssets/sass/partials/_deviceTester.scss */
html.no-canvas #wrapper > * {
  display: none; }

/* line 102, devAssets/sass/partials/_deviceTester.scss */
html.no-canvas #legacy-warning, html.no-canvas #logo-banner {
  display: block; }

/* line 70, devAssets/sass/partials/_customMixins.sass */
::selection {
  color: white;
  background: black; }

/* line 73, devAssets/sass/partials/_customMixins.sass */
::-moz-selection {
  color: white;
  background: black; }

/* line 3, devAssets/sass/_global.scss */
body, html, #wrapper {
  width: 100%;
  height: 100%; }
  /* line 6, devAssets/sass/_global.scss */
  body.no-scroll, html.no-scroll, #wrapper.no-scroll {
    overflow: hidden; }

/* line 12, devAssets/sass/_global.scss */
body:fullscreen #wrapper {
  background-color: white; }

/* line 17, devAssets/sass/_global.scss */
body:-webkit-full-screen #wrapper {
  background-color: white; }

/* line 22, devAssets/sass/_global.scss */
body:-moz-full-screen #wrapper {
  background-color: white; }

/* line 27, devAssets/sass/_global.scss */
#wrapper {
  position: relative; }
  /* line 30, devAssets/sass/_global.scss */
  .overview-mode #wrapper {
    overflow: hidden; }
  /* line 34, devAssets/sass/_global.scss */
  #wrapper.ready {
    opacity: 1; }

/* line 44, devAssets/sass/_global.scss */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  -webkit-text-size-adjust: 100%; }

/* line 51, devAssets/sass/_global.scss */
figure {
  line-height: 0; }

/* line 55, devAssets/sass/_global.scss */
input[type="submit"], button, .button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 60, devAssets/sass/_global.scss */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

/* line 66, devAssets/sass/_global.scss */
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 71, devAssets/sass/_global.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 73, devAssets/sass/_global.scss */
.svg {
  max-width: 100%;
  max-height: 100%; }

/* line 78, devAssets/sass/_global.scss */
.clear {
  display: block;
  float: left;
  clear: both; }

/* line 84, devAssets/sass/_global.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* line 100, devAssets/sass/_global.scss */
.no-touchevents {
  /* Handle */ }
  /* line 101, devAssets/sass/_global.scss */
  .no-touchevents ::-webkit-scrollbar {
    width: 10px; }
  /* line 105, devAssets/sass/_global.scss */
  .no-touchevents ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px white;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: white; }
  /* line 113, devAssets/sass/_global.scss */
  .no-touchevents ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: black;
    -webkit-box-shadow: inset 0 0 0px black; }

/* line 128, devAssets/sass/_global.scss */
.image-cover-background {
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat; }
  /* line 136, devAssets/sass/_global.scss */
  .image-cover-background.crop-middle {
    background-position: 50% 50% !important; }
  /* line 140, devAssets/sass/_global.scss */
  .image-cover-background.crop-top {
    background-position: 50% 0% !important; }
  /* line 144, devAssets/sass/_global.scss */
  .image-cover-background.crop-bottom {
    background-position: 50% 100% !important; }
  /* line 148, devAssets/sass/_global.scss */
  .image-cover-background.portrait {
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    -webkit-background-size: contain !important;
    background-size: contain !important;
    background-position: 0% 50% !important; }
  /* line 156, devAssets/sass/_global.scss */
  .image-cover-background > img {
    display: none; }

/* line 162, devAssets/sass/_global.scss */
.text-block > * {
  margin-bottom: 1em; }
  /* line 164, devAssets/sass/_global.scss */
  .text-block > *:last-child {
    margin-bottom: 0; }

/* line 1, devAssets/sass/pageElements/_header.scss */
.site-hero {
  background-color: blue;
  color: white;
  font-size: 2em;
  padding: 45px; }

/* line 1, devAssets/sass/pageElements/_elements.scss */
canvas {
  display: block; }

/* line 5, devAssets/sass/pageElements/_elements.scss */
.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: blue; }

/*# sourceMappingURL=index.css.map */